<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |g| %>
      <%= render 'shared/error_messages' %>
      <%= g.label :name %>
      <%= g.text_field :name, class: 'form-control' %>

      <%= g.label :email %>
      <%= g.email_field :email, class: 'form-control' %>

      <%= g.label :password %>
      <%= g.password_field :password, class: 'form-control' %>

      <%= g.label :password_confirmation, "Confirmation" %>
      <%= g.password_field :password_confirmation, class: 'form-control' %>

      <%= g.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
